.item-layout {
    display: grid;
    min-height: 95%;
    min-width: 95%;
    max-width: 95%;
    grid-template: repeat(2, 1fr) 2rem / repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.category-layout {
    display: flex;
    min-height: 95%;
    min-width: 95%;
    max-width: 95%;
    justify-content: center;
    align-items: center;
}

/* PageSwitch */
#next {
    grid-column: 3 / -1;
    grid-row: 3 / -1;
}

#prev {
    grid-column: 1 / 2;
    grid-row: 3 / -1;
}

#next, #prev {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25%;
    height: 100%;
}

#next span,
#prev span {
    display: block;
    width: 1vw;
    height: 1vw;
    margin: -3px;

    border-bottom: 4px solid white;
    border-right: 4px solid white;
    z-index: -1;
}

#next span {
    animation: animate-right 2.5s infinite;
    animation-iteration-count: 2;
    transform: rotate(-45deg);
}

#prev span {
    transform: rotate(135deg);
}


@keyframes animate-right {
    0% {
        opacity: 0;
        transform: rotate(-45deg) translate(-15px, -15px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(-45deg) translate(10px, 10px);
    }
}
